<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<title>{{ pageTitle }}</title>
	</head>
	<body>
		{{> header }}

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto laboriosam iure temporibus provident molestiae, voluptatibus nesciunt, 
			sint error laborum quasi culpa officia aliquid unde dicta velit deserunt quae, cum suscipit.</p>

		{{> footer }}
	</body>
</html>